.hidden {
    display: none;
}


body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center !important;
    margin: auto;
}

/* .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
*/
#clock {
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translate(-50%, -50%);
}


#weather {
    position: absolute;
    right: 0%;
    top: 10%;
    transform: translate(-50%, -50%);
}

#todo {
    position: absolute;
    right: 0%;
    top: 80%;
    transform: translate(-50%, -50%);

}

#username {
    position: absolute;
    left: 10%;
    top: 80%;
    transform: translate(-50%, -50%);
}